# Allowed values: SQLServer, PostgreSQL, AzureSQLServer, AzurePostgreSQL, AmazonRdsSQLServer, AmazonRdsPostgreSQL
DAST_DB_TYPE=PostgreSQL
DAST_DB_SERVER=<DB_SERVER>
DAST_DB_DATABASE=dast
DAST_DB_DBO_USER=postgres
DAST_DB_DBO_PASSWORD=fortify
DAST_DB_STD_USER=postgres
DAST_DB_STD_PASSWORD=fortify
DAST_DB_ADDITIONAL_CON_PROPERTIES=""

DAST_DB_MSSQL_SA_PASSWORD=One4All@1234

SSC_URL=<SSC_URL>
SSC_USER=service.account
SSC_PASSWORD=One4All@1234

DAST_API_HOST=<DAST_HOST_OR_IP>
DAST_API_PORT=64814
DAST_API_CONTAINER_PORT=8443
DAST_UTILITYSERVICE_HOST=<DAST_HOST_OR_IP>
DAST_UTILITYSERVICE_PORT=5001
DAST_SERVICE_TOKEN=One4All@1234

LIM_URL=<LIM_URL>
LIM_USERNAME=admin
LIM_PASSWORD=changeme
LIM_POOL=scancentraldast
LIM_POOL_PASSWORD=One4All@1234
LIM_USE_API=true

# Allowed values: GenerateCertificate, UseExistingCertificate, NoSSL
DAST_API_SSL=UseExistingCertificate
DAST_API_SSL_CERT=api-server-cert.pfx
DAST_API_SSL_CERT_PASSWORD=changeme

# Allowed values: GenerateCertificate, UseExistingCertificate, NoSSL
DAST_UTILITY_SSL=UseExistingCertificate
DAST_UTILITY_SSL_CERT=utilityservice-server-cert.pfx
DAST_UTILITY_SSL_CERT_PASSWORD=changeme

DAST_APPLY_SECUREBASE=true
DAST_SECUREBASE_PATH=""

DEBRICKED_TOKEN=""

DOCKER_IMAGE_UPGRADE_JOB=fortifydocker/scancentral-dast-config:24.4.ubi.9
DOCKER_IMAGE_DATASTORE=mcr.microsoft.com/mssql/server:2022-latest
DOCKER_IMAGE_SCANNER=fortifydocker/dast-scanner:24.4.ubi.9
DOCKER_IMAGE_DAST_API=fortifydocker/scancentral-dast-api:24.4.ubi.9
DOCKER_IMAGE_DAST_GLOBALSERVICE=fortifydocker/scancentral-dast-globalservice:24.4.ubi.9