appProperties:
  host.validation: false
  host.url: 'https://ssc.fortify.local'
datasourceProperties:
  jdbc.url: 'jdbc:mysql://ssc.fortify.local:3306/ssc?sessionVariables=collation_connection=utf8_bin&rewriteBatchedStatements=true&allowPublicKeyRetrieval=true&useSSL=false&'
  db.username: fortify
  db.password: fortify
dbMigrationProperties:
  migration.enabled: true
  migration.username: root
  migration.password: fortify
