### HTTPS SETTINGS ###
HTTP_SERVER_CERTIFICATE_KEYSTORE_FILE=/app/secrets/httpKeystore.jks
HTTP_SERVER_CERTIFICATE_KEYSTORE_PASSWORD_FILE=/app/secrets/keystore_password
HTTP_SERVER_CERTIFICATE_KEY_PASSWORD_FILE=/app/secrets/keystore_password

### AUTO CONFIG SETTINGS ###
COM_FORTIFY_SSC_LICENSEPATH=/app/secrets/fortify.license
COM_FORTIFY_SSC_AUTOCONFIGPATH=/app/secrets/ssc.autoconfig
#COM_FORTIFY_SSC_SECRETKEY=/app/secrets/secret.key